*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #548687;
    text-align: center;
  
   
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vh ;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
    
}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vh;
    color: #b0413e;
    background-color: #ffffc7;
    
}

#reset-btn{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: #fff;
    font-size: 1.5rem;

}
#new-btn{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #191913;
    color: #fff;
    font-size: 1.5rem;
}
#msg{
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem;
    font-weight: bold;

}
.msg-container {
    height: 40vmin;
    
}
.hide{
    display: none;
}